@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@600&display=swap');

body {
    background: linear-gradient(#8B4513, #D2B48C);
}

img {
    width: 5%;

}

nav {
    width: 30%;
}

.list-navegacion {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;

}

a {
    color: #A9A9A9;
    text-decoration: none;
    /*  font-family: 'Oswald', sans-serif;
    
 */
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;


}

header {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    /*     background-color:			#8B4513; */
}

.container-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-info{
    width: 55%;
}

.container-header img{
    width: 40%;
}
.container-header p{
    width: 50%;
    font-size: 3em;
    font-family:'Yanone Kaffeesatz', sans-serif ;
}

.container-header h1{
    font-family:'Yanone Kaffeesatz', sans-serif ;
    font-size: 2em;
    width: 50%;
}

.container-header button{
    width: 30%;
    height: 50%;
    color: black;
    background-color: white;
border: 0;
outline: 0;
border-radius: 15px;
font-size: 1.3em;
font-family:'Yanone Kaffeesatz', sans-serif ;

}